[Unit]
Description=Daemon für Messgerät Projekt (Aaron <llpvbel7h@mozmail.com>)

[Service]
Type=simple
ExecStart=/usr/local/msh/bin/raspberry-daemon
Restart=on-failure

[Install]
WantedBy=multi-user.target
